/* =======================================================================

                                 General

   ======================================================================= */

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #73ccff;
    --color-primary-soft: #f1faff;
    --color-lightGray: #f2f2f2;
    --color-darkGray: #747474;
    --color-gray: #c1c1c1;
    --color-white: #ffffff;
    --color-wrong: #ff4d4d;
    --color-validated: #c1e0c1;
    --default-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    /* Change date picker color */
    --litepickerDayIsStartBg: #73ccff !important;
    --litepickerDayIsEndBg: #73ccff !important;
    --litepickerDayIsInRange: #daf1ff !important;
    --litepickerDayColorHover: #73ccff !important;
    /* Values for body padding */
    --default-paddingTop-mobile: 20px;
    --default-paddingLeft-mobile: 15px;
    --default-paddingTop: 50px;
    --default-paddingLeft: 150px;
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
}

body {
    padding: var(--default-paddingTop-mobile) var(--default-paddingLeft-mobile)
        0;
    background-attachment: fixed;
    background-image: url(../images/background/backgroundMobile.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100vw;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.no-background {
    background-image: none;
    background-color: var(--color-primary-soft);
}

@media screen and (min-width: 768px) {
    body {
        padding: var(--default-paddingTop) var(--default-paddingLeft) 0;
        background-image: url(../images/background/background.svg);
    }
}

h1 {
    margin: 0.67em 0;
    font-size: 2em;
}

h2 {
    margin: 0.83em 0;
    font-size: 1.5em;
}

h3 {
    margin: 1em 0;
    font-size: 1.17em;
}

h4 {
    margin: 1.33em 0;
    font-size: 1em;
}

h5 {
    margin: 1.67em 0;
    font-size: 0.83em;
}

h6 {
    margin: 2.33em 0;
    font-size: 0.67em;
}

/* ============================== HEADER ================================= */

.header-container {
    z-index: 100;
    position: fixed;
    top: var(--default-paddingTop-mobile);
    left: var(--default-paddingLeft-mobile);
    width: calc(100% - (var(--default-paddingLeft-mobile) * 2));
}

@media screen and (min-width: 768px) {
    .header-container {
        top: var(--default-paddingTop);
        left: var(--default-paddingLeft);
        width: calc(100% - (var(--default-paddingLeft) * 2));
    }
}

.menu-background {
    display: none;
    z-index: -1;
    position: absolute;
    top: calc(var(--default-paddingTop-mobile) * -1);
    left: calc(var(--default-paddingLeft-mobile) * -1);
    width: calc(100% + (var(--default-paddingLeft-mobile) * 2));
    height: calc(2rem + (var(--default-paddingTop-mobile) * 2));
    border-radius: 0 0 10px 10px;
    background-color: #ffffff;
    opacity: 0.9;
    box-shadow: var(--default-shadow);
}

@media screen and (min-width: 768px) {
    .menu-background {
        top: calc(var(--default-paddingTop) * -1);
        left: calc(var(--default-paddingLeft) * -1);
        width: calc(100% + (var(--default-paddingLeft) * 2));
        height: calc(2rem + (var(--default-paddingTop) * 2));
        border-radius: 0 0 25px 25px;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo img {
    width: auto;
    height: 2rem;
}

/* The side navigation menu on mobile*/

nav .menuHamburger img {
    width: 1.5rem;
    height: auto;
}

.mobileNav-background {
    display: none;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.mobileNav {
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100%;
    padding-top: 4.5rem;
    overflow-x: hidden;
    background-color: var(--color-white);
    transition: 0.5s;
}

.mobileNav a {
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: block;
    padding: 0.75rem 1.5rem;
    color: var(--color-darkGray);
    font-size: 1.25rem;
    text-align: end;
    text-decoration: none;
    transition: 0.3s;
}

.mobileNav .btn_login {
    color: var(--color-primary);
    font-weight: 900;
}

.mobileNav .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.25rem;
}

/* Navigation menu on computer */

.computerNav {
    display: none;
}

@media screen and (min-width: 992px) {
    .mobileNav,
    .menuHamburger {
        display: none;
    }
    .computerNav {
        display: inline-flex;
        align-items: center;
    }
    .computerNav a {
        margin-left: 1rem;
        padding: 0.25rem 1.75rem;
        color: var(--color-darkGray);
        font-size: 1.25rem;
        font-weight: 200;
        text-decoration: none;
    }
    .computerNav a:hover {
        color: #222222;
        text-decoration: underline;
    }
    .computerNav .btn_login {
        border-radius: 5rem;
        background-color: var(--color-primary);
        color: var(--color-white);
    }
    .btn_login_logged {
        display: inline-flex;
    }
    .btn_login_logged img {
        width: 3.5rem;
        position: relative;
        right: -1.5rem;
    }
    .computerNav .btn_login_logged .username {
        margin-left: 0;
        align-self: center;
        padding-left: 1.85rem;
    }
}

/* ============================== User profile ================================= */

.profile-page .main-container,
.edit-profile-page .main-container {
    padding-top: 5rem;
}

.info-bloc {
    background-color: var(--color-white);
    border-radius: 1rem;
    margin-bottom: 2.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: var(--default-shadow);
}

.line {
    display: inline-flex;
    align-items: center;
}

.edit {
    color: var(--color-darkGray);
    text-align: right;
    align-self: flex-end;
    font-size: small;
}

.edit:hover {
    color: black;
}

.edit img {
    width: 1rem;
}

.user-details-bloc {
    display: inline-flex;
    align-self: center;
    align-items: center;
}

.user-details-bloc img {
    width: 4rem;
}

.user-details {
    padding-left: 0.5rem;
    font-size: large;
}

.liste-city-bloc {
    display: flex;
    flex-direction: column;
}

.city-bloc {
    background-color: var(--color-lightGray);
    border: 1px solid var(--color-darkGray);
    border-radius: 0.5rem;
    padding: 0.8rem;
    color: black;
    text-decoration: none;
    margin: 1rem;
}

.city-bloc .city-name {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid var(--color-darkGray);
}

.city-bloc .line {
    display: flex;
}

.city-bloc .city-temperature {
    flex: 1;
}

.section-title {
    font-size: 1.5rem;
    align-self: center;
    color: var(--color-darkGray);
}

.section-title img {
    width: 2rem;
    margin-right: 0.5rem;
    max-height: 2.5rem;
}

@media screen and (min-width: 992px) {
    .section-title {
        align-self: start;
    }
    .section-title img {
        margin-left: 1rem;
    }
    .liste-city-bloc {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .city-bloc .city-name {
        border-bottom: none;
    }
    .city-bloc .line {
        align-items: baseline;
        flex-direction: column;
    }
    .city-bloc .city-weather {
        margin-bottom: 0.9rem;
    }
    .hvr-grow {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        box-shadow: var(--default-shadow);
    }
    .city-bloc .city-weather {
        margin-bottom: 0.9rem;
    }

    .edit-profile-page .info-bloc {
        margin-top: 3.5rem;
    }
}

/* =======================================================================

                                 Home page

   ======================================================================= */

/* ============================= Searchbar =============================== */

.searchbar-container {
    width: 100%;
    height: auto;
    margin: 12rem auto 0 auto;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: var(--default-shadow);
}

.searchbar {
    display: flex;
    position: relative;
    height: 2.5rem;
}

.searchbar .searchbar-icon {
    display: flex;
    z-index: 1;
    position: absolute;
    width: 3rem;
    height: 100%;
}

.searchbar .searchbar-icon svg {
    height: 1.15rem;
    margin: auto;
}

.searchbar .searchbar-input {
    width: 100%;
    height: 100%;
    padding-left: 3rem;
    border: 0;
    border-radius: 20px;
    color: #222222;
    font-size: 0.875rem;
}

.searchbar .searchbar-input::placeholder {
    color: var(--color-darkGray);
}

.searchbar .searchbar-date-container {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 1.5rem;
    margin: 0.5rem 0;
    padding: 0 1rem;
    border-left: solid 1px var(--color-darkGray);
    cursor: pointer;
}

.searchbar .searchbar-date-container .date-icon {
    display: flex;
    align-items: center;
    height: 1.5rem;
}

.searchbar .searchbar-date-container .date-icon svg {
    height: 1.25rem;
}

.searchbar .searchbar-date-container .date-text {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .searchbar-container {
        max-width: 35rem;
    }
}

@media screen and (min-width: 992px) {
    .searchbar .searchbar-date-container .date-text {
        display: flex;
        align-items: center;
        height: 1.5rem;
        margin: 0 1rem;
        color: var(--color-darkGray);
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 1200px) {
    .searchbar-container {
        width: 75%;
    }
}

#dates-submit {
    display: none;
    position: absolute;
    left: 50%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    transform: translateX(-50%);
    border: 0;
    background: none;
    cursor: pointer;
}

/* =========================== Dates details ============================= */

.dates-details {
    display: none;
    padding: 0.25rem 0.75rem;
}

.dates-form {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1600px) {
    .dates-form {
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }
}

#dates-form-separator {
    width: 95%;
    margin: 0 auto;
    border-top: solid var(--color-darkGray) 1px;
}

.dates-details-from,
.dates-details-to {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.dates-details form input[type="number"] {
    width: 3rem;
    margin: 0.25rem 0.5rem;
    padding: 1rem 1.25rem;
    border: 0;
    border-radius: 10px;
    background-color: var(--color-lightGray);
    text-align: center;
}

.dates-details form input[type="number"]::-webkit-inner-spin-button,
.dates-details form input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

@media screen and (min-width: 992px) {
    .dates-inputs {
        width: 628px;
        margin: auto;
        margin-top: 1rem;
    }
    .dates-details form input[type="number"] {
        width: 5rem;
        padding: 0.75rem 1rem;
    }
}

@media screen and (min-width: 1600px) {
    .dates-details form input[type="number"] {
        width: 2rem;
    }
}

.dates-text {
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    color: var(--color-darkGray);
}

.dates-picker {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.litepicker {
    display: flex !important;
    max-width: 100% !important;
}

.litepicker .container__months {
    -webkit-box-shadow: none !important;
    justify-content: center !important;
    box-shadow: none !important;
}

@media screen and (min-width: 992px) {
    .dates-picker {
        padding: 2rem 0;
    }
}

@media screen and (min-width: 1200px) {
    .dates-picker {
        padding: 1rem 0;
    }
}

.validated-dates {
    background-color: var(--color-validated) !important;
}

.error-message {
    margin-top: 1rem;
    color: var(--color-wrong);
    text-align: center;
}

.wrong-shake {
    -webkit-animation: wrong_shake 0.5s 1 linear;
    -moz-animation: wrong_shake 0.5s 1 linear;
    -o-animation: wrong_shake 0.5s 1 linear;
    background-color: var(--color-wrong) !important;
    color: white !important;
    font-weight: 900 !important;
    animation: wrong_shake 0.5s 1 linear;
}

@keyframes wrong_shake {
    0% {
        transform: translate(15px);
    }
    20% {
        transform: translate(-15px);
    }
    40% {
        transform: translate(7px);
    }
    60% {
        transform: translate(-7px);
    }
    80% {
        transform: translate(4px);
    }
    100% {
        transform: translate(0px);
    }
}

@-webkit-keyframes wrong_shake {
    0% {
        -webkit-transform: translate(15px);
    }
    20% {
        -webkit-transform: translate(-15px);
    }
    40% {
        -webkit-transform: translate(7px);
    }
    60% {
        -webkit-transform: translate(-7px);
    }
    80% {
        -webkit-transform: translate(4px);
    }
    100% {
        -webkit-transform: translate(0px);
    }
}

@-moz-keyframes wrong_shake {
    0% {
        -moz-transform: translate(15px);
    }
    20% {
        -moz-transform: translate(-15px);
    }
    40% {
        -moz-transform: translate(7px);
    }
    60% {
        -moz-transform: translate(-7px);
    }
    80% {
        -moz-transform: translate(4px);
    }
    100% {
        -moz-transform: translate(0px);
    }
}

@-o-keyframes wrong_shake {
    0% {
        -o-transform: translate(15px);
    }
    20% {
        -o-transform: translate(-15px);
    }
    40% {
        -o-transform: translate(7px);
    }
    60% {
        -o-transform: translate(-7px);
    }
    80% {
        -o-transform: translate(4px);
    }
    100% {
        -o-origin-transform: translate(0px);
    }
}

/***************************Edit profile*********************************/

.edit-profile {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.edit-profile img {
    width: 4rem;
    padding-right: 1rem;
}

.edit-profile .line:first-child {
    align-self: center;
    font-size: 1rem;
}

.edit-profile input[type="text"],
.edit-profile input[type="mail"] {
    border-radius: 0.2rem;
    border: 1px solid var(--color-darkGray);
    font-size: 1rem;
    padding: 0.2rem;
}

.edit-profile label {
    width: 8rem;
    font-size: 1rem;
}

.edit-profile .line {
    margin: 0.3rem 0;
}

.edit-profile .buttons {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.blue-button {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 0.5rem;
    margin: auto;
    width: 12rem;
    color: var(--color-white);
    padding: 1rem;
    font-size: large;
}

.edit-profile .buttons a {
    color: var(--color-darkGray);
    margin: 2rem;
    font-size: small;
    text-decoration: none;
}

.pwd {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pwd a {
    color: black;
    margin-top: 1rem;
}

@media screen and (min-width: 992px) {
    .edit-profile .buttons,
    .pwd {
        flex-direction: row;
        align-self: center;
        align-items: baseline;
    }
    .pwd a {
        padding-left: 1rem;
    }
}
/* =======================================================================

                              Information page

   ======================================================================= */
/* ============================== General ================================ */

.information-page .main-container {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.animation-zoom-origin {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.animation-zoom {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/* ============================= Forecast ================================ */

.forecast-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--default-shadow);
    padding: 1rem 0;
    display: flex;
    overflow-x: scroll;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1.5rem;
}

@media screen and (min-width: 1200px) {
    .forecast-container {
        justify-content: space-evenly;
        margin-bottom: 3.5rem;
    }
}

.forecast {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.forecast-day {
    color: var(--color-darkGray);
}

.forecast-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.forecast-icon img {
    max-width: 60px;
    max-height: 60px;
}

.forecast-temperature span.max-temp {
    color: var(--color-darkGray);
    padding: 0 1px;
}

.forecast-temperature span.min-temp {
    color: var(--color-gray);
    padding: 0 1px;
}

.forecast-description {
    display: none;
}

.weather-separator {
    border: none;
    border-left: 1px solid var(--color-lightGray);
    width: 1px;
}

/* ============================== Events ================================= */

.events-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--default-shadow);
    padding: 1rem;
    overflow-y: scroll;
    max-height: 35rem;
    margin-bottom: 1.5rem;
}

.events-container {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}
.events-container::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.events-header {
    color: var(--color-darkGray);
    display: flex;
    align-items: flex-end;
    font-size: 1.25rem;
}

.events-header svg {
    width: 35px;
    height: 35px;
    margin-left: 1rem;
}

.event {
    background-color: var(--color-lightGray);
    border-radius: 10px;
    padding: 0.75rem;
    padding-bottom: 0.45rem; /* Compensation for the title */
    margin: 0.75rem 0;
    display: flex;
}

.event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-date span.event-date-day {
    font-weight: 900;
    font-size: 1.15rem;
}

.event-date span.event-date-month {
    color: var(--color-darkGray);
}

.event-content {
    margin: 0 0.75rem;
    height: 80px;
    overflow: hidden;
}

.event-content .event-content-title {
    font-weight: 900;
    font-size: 1.15rem;
}

.event-content .event-content-description {
    color: var(--color-darkGray);
    font-size: 0.85rem;
    text-align: justify;
    overflow: hidden;
}

.event-photo-center-cropped {
    object-fit: cover;
    object-position: center;
    height: 80px;
    width: 80px;
    border-radius: 5px;
}

@media screen and (min-width: 1200px) {
    .events-container {
        width: 40%;
        margin-bottom: 3.5rem;
    }
}

/* ================================ Maps ================================= */

.maps-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--default-shadow);
    width: 100%;
    max-height: 35rem;
    display: flex;
    margin-bottom: 1.5rem;
}

.map-center-cropped {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    max-height: 100%;
    border-radius: 20px;
}

@media screen and (min-width: 1200px) {
    .maps-container {
        width: 50%;
        margin-bottom: 3.5rem;
        padding: 1rem;
    }

    .maps-container {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }
    .maps-container::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

    .map-center-cropped {
        width: 95%;
        height: 95%;
        border-radius: 15px;
        margin: auto;
    }
}

/* ============================== Gallery ================================= */

.photos-container {
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--default-shadow);
    padding: 1rem;
}

.photos-container a {
    background-color: white;
    border-radius: 10px;
    box-shadow: var(--default-shadow);
    margin-bottom: 1.5rem;
    text-decoration: none;
    margin: 0.5rem;
}

.photos-container a img {
    object-fit: cover;
    object-position: center;
    height: 100px;
    border-radius: 10px;
    padding: 0.5rem;
}

.gallery-photo-name {
    color: var(--color-darkGray);
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
    font-size: 0.8rem;
}

.photos-header {
    color: var(--color-darkGray);
    display: flex;
    align-items: flex-end;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.photos-header svg {
    width: 35px;
    height: 35px;
    margin-left: 1rem;
}

.photos-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (min-width: 1200px) {
    .photos-container {
        width: 57.5%;
        height: 35rem;
        margin-bottom: 3.5rem;
        overflow-y: scroll;
    }

    .photos-container a {
        margin: 0.75rem;
    }

    .photos-header {
        margin-bottom: 0.25rem;
    }

    .photos-container {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }
    .photos-container::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

/* ============================== Twitter ================================= */

.twitter-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--default-shadow);
    padding: 1rem;
    overflow-y: scroll;
    max-height: 35rem;
    width: 100%;
    margin-bottom: 1.5rem;
}

.twitter-header {
    color: var(--color-darkGray);
    font-size: 1.25rem;
}

.tweet {
    background-color: var(--color-lightGray);
    border-radius: 10px;
    padding: 0.75rem;
    margin: 0.75rem 0;
}

.tweet-header {
    display: flex;
    align-items: center;
}

.tweet-header-photo img {
    object-fit: cover;
    object-position: center;
    width: 39px;
    height: 39px;
    border-radius: 100px;
}

.tweet-header-name {
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1.1rem;
    line-height: 1;
}

.tweet-content {
    font-size: 0.85rem;
    font-weight: 300;
}

@media screen and (min-width: 1200px) {
    .twitter-container {
        width: 32.5%;
        margin-bottom: 2.5rem;
    }

    .twitter-container {
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
    }
    .twitter-container::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }
}

/* =======================================================================

                                Login page

   ======================================================================= */
/* ============================== General ================================ */

#login-page-body {
    padding: 20px 15px 0;
    background-attachment: fixed;
    background-image: url("../images/background/login_background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    html {
        -ms-text-size-adjust: 125%;
        -webkit-text-size-adjust: 125%;
        font-size: 125%;
    }

    /* body {
    padding: 50px 150px 0;
	background-image: url(../images/background/background.svg);} */

    #login-page-body {
        padding: 50px 150px 0;
        background-image: url("../images/background/login_background.svg");
    }
}

#login {
    margin: 6rem auto 0 auto;
    background-color: #f2f2f2;
    width: 60vw;
    height: 50vh;
    min-height: 450px;
    display: flex;
    flex-direction: row;
}
#login p {
    font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.rounded-corners {
    border-radius: 15px;
}
.flex {
    display: flex;
}

/* =========================== Login section ============================= */

.login-holder {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}
.login-holder-left {
    width: 20%;
    height: 100%;
    background-color: #6598bb;
}
.signup-holder-right p,
.login-holder-left p {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    text-decoration: underline;
}
.login-holder-right {
    width: 80%;
    height: 100%;
    flex-direction: column;
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(252, 252, 252, 0.7) 100%
        ),
        url("../images/background/background.svg");
    background-color: #fcfcfc;
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100vw;
}
.login-toggle-holder {
    width: 100%;
    height: 20%;
    background-color: none;
}
.login-toggle-holder1 {
    width: 200px;
    height: 50px;
    flex-direction: row;
    background-color: #ffffff;
    border: solid;
    border-color: #6598bb;
    border-width: 1px;
}
.login-toggle-holder2 {
    margin: 1rem 1rem 0 auto;
}
.login-toggle-holder2-2 {
    margin: 1rem auto 0 1rem;
}
.login-toggle-login {
    margin: 2px;
    width: 50%;
    height: 100%;
    background-color: #6598bb;
}
.login-toggle-signup {
    margin: 2px;
    width: 50%;
    height: 100%;
}
.login-toggle-holder1 p {
    text-align: center;
    margin: auto;
    font-weight: 600;
    letter-spacing: 0.08rem;
}
.login-information {
    width: 100%;
    height: 80%;
    background-color: none;
}

/*SIGNUP SECTION*/
.signup-holder {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    flex-direction: row;
    display: none;
}
.signup-holder-left {
    width: 80%;
    height: 100%;
    flex-direction: column;
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.6) 0%,
            rgba(252, 252, 252, 0.7) 100%
        ),
        url("../images/background/background.svg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 100vw;
}
.signup-holder-left p {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 0.08rem;
}
.signup-holder-right {
    width: 20%;
    height: 100%;
    background-color: #6598bb;
    flex-direction: column;
}
.login-toggle-holder1 p {
    font-size: 1rem;
}
/*Underline text Effect*/
.line-effect1 p::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s;
}
.line-effect1 p:hover::after {
    width: 100%;
    transition: width 0.3s;
}
.line-effect2 p::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #6598bb;
    transition: width 0.3s;
}
.line-effect2 p:hover::after {
    width: 100%;
    transition: width 0.3s;
}
.login-toggle-login p {
    color: #ffffff;
}
.login-toggle-signup p {
    color: #6598bb;
}
/*Form*/
#login-form {
    height: 80%;
    width: 60%;
    margin: auto;
}
#signup-form {
    height: 80%;
    width: 60%;
    margin: auto;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    max-width: 1000px;
    padding: 12px 20px;
    margin: 1rem auto 0 auto;
    display: inline-block;
    border: solid 1px #ffffff;
    box-sizing: border-box;
    box-shadow: -1px 2px 8px 1px grey;
}
.button-settings {
    background-color: #87cbfa;
    color: white;
    padding: 10px 0px;
    margin: 15px 0 0 0;
    border: solid 1px #ffffff;
    cursor: pointer;
    width: 150px;
}
.button-settings:hover {
    background-color: #6598bb;
}

.login-button-text {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
}
.log-but {
    float: right;
}
.pw-but {
    background-color: #87cbfa;
    color: white;
    padding: 10px 5px;
    position: absolute;
    margin: 1rem 0 0 0.2rem;
    border: solid 1px #ffffff;
    cursor: pointer;
    width: auto;
}
#option {
    margin: 10px 0 0 0;
}
.login-information a {
    text-decoration: none;
    font-style: none;
}
.terms-text {
    font-size: 12px;
}

@media screen and (max-width: 992px) {
    #login {
        width: 90vw;
        height: 80vh;
        flex-direction: row;
    }
    .login-holder {
        flex-direction: column;
    }
    .signup-holder {
        flex-direction: column;
    }
    .login-holder-left {
        width: 100%;
        height: 20%;
        display: flex;
    }
    .login-holder-right {
        width: 100%;
        height: 80%;
        display: flex;
        background-size: 400vw;
    }
    .signup-holder-left {
        width: 100%;
        height: 80%;
        display: flex;
        background-size: 300vw;
    }
    .signup-holder-right {
        width: 100%;
        height: 20%;
        display: flex;
    }
    .login-toggle-holder2-2 {
        margin: auto;
    }
    .login-toggle-holder1 {
        margin: auto;
    }
    .terms-text {
        font-size: 10px;
    }
    #login-form {
        width: 70%;
        transform: translate(-10%, 10%);
        margin-right: auto;
    }
    .pw-but {
        padding: 10px 5px;
        margin: 1rem 0 0 0.2rem;
        width: auto;
    }
    .mob-but {
        width: 100%;
    }
}
