<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <div class="header-container" id="header-container">
            <%- include('../partials/header') %>
            </header>
        </div>

        <div id="about-holder">
            <h1>About</h1>
            <h2>Why Our Clients Choose Us</h2>
            <h3>
                We deliver real time data services for weather, events and news
                on user desired destinations on a global scale
            </h3>

            <h2>How Does It Work</h2>
            <h3>
                Enter in your destination of choice into the search bar with
                your desired dates to display an array of data including weather
                forecasts, event information and local news
            </h3>

            <h2>A User Tailored Experience</h2>
            <h3>
                By creating a login, users can retrieve previously searched
                locations and favourite them for quicker access in the future
            </h3>
        </div>

        <!-- #main-container -->

        <footer>
            <%- include('../partials/footer') %>
        </footer>
    </body>
</html>
