<div class="menu-background"></div>

<nav role="navigation">
    <div class="logo">
        <a href="/home">
            <img src="/images/header/tripset.svg" alt="logo tripset" />
        </a>
    </div>

    <div class="menuHamburger" onclick="openNav()">
        <img src="/images/header/menu-hamburger.svg" alt="menu hamburger" />
    </div>

    <div class="mobileNav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >&times;</a
        >
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/profile" class="btn_login">
            <%= session.user.first %>&nbsp;<%= session.user.last %>
        </a>
    </div>
    <div class="mobileNav-background" onclick="closeNav()"></div>

    <div class="computerNav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <div class="btn_login_logged">
            <img
                src="/images/icons/icon_profile_coloured.svg"
                alt="User's pic"
            />
            <a class="btn_login username" href="/profile">
                <%= session.user.first %>&nbsp;<%= session.user.last %>
            </a>
        </div>
    </div>
</nav>
